<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :business_name %><font color='#ff0000'>*</font>
    <%= form.text_field :business_name, id: :business_business_name %>
  </div>

  <div class="field">
    <%= form.label :address_id %><font color='#ff0000'>*</font>
    <%= form.select(:address_id) do %>
      <% Address.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.line_1 << ', ' << c.city << ', ' << c.state << ' ' << c.zip_code.to_s, value: c.address_id) %>
      <% end %>
    <% end %>
    <%= link_to 'New Address', new_address_path %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :business_url %>
  </div>

  <div class="field">
    <%= form.label :email %><font color='#ff0000'>*</font>
    <%= form.text_field :email, id: :business_email %>
  </div>

  <div class="field">
    <%= form.label :prim_contact_id %><font color='#ff0000'>*</font>
    <%= form.select(:prim_contact_id) do %>
      <% Contact.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.last_name << ', ' << c.first_name, value: c.contact_id) %>
      <% end %>
    <% end %>
    <%= link_to 'New Contact', new_contact_path %>
  </div>

  <div class="field">
    <%= form.label :sec_contact_id %>
    <%= form.select(:sec_contact_id) do %>
      <% Contact.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.last_name << ', ' << c.first_name, value: c.contact_id) %>
      <% end %>
      <option value=-1>No Secondary Contact</option>
    <% end %>
    <%= link_to 'New Contact', new_contact_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
