<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :business_name %>
    <%= form.text_field :business_name, id: :business_business_name %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.select(:address_id) do %>
      <% Address.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.line_1, value: c.address_id) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :business_url %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :business_email %>
  </div>

  <div class="field">
    <%= form.label :prim_contact_id %>
    <%= form.select(:prim_contact_id) do %>
      <% Contact.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.last_name, value: c.contact_id) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :sec_contact_id %>
    <%= form.select(:sec_contact_id) do %>
      <% Contact.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.last_name, value: c.contact_id) %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
