<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @business.business_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= link_to Address.where(["address_id = ?", @business.address_id]).first.line_1, Address.where(["address_id = ?", @business.address_id]).first %>
</p>

<p>
  <strong>Url:</strong>
  <%= @business.url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Prim contact:</strong>
  <%= link_to Contact.where(["contact_id = ?", @business.prim_contact_id]).first.last_name, Contact.where(["contact_id = ?", @business.prim_contact_id]).first %>
</p>

<p>
  <strong>Sec contact:</strong>
  <% if (@business.sec_contact_id != -1) %>
    <%= link_to Contact.where(["contact_id = ?", @business.sec_contact_id]).first.last_name, Contact.where(["contact_id = ?", @business.sec_contact_id]).first %>
  <% else %>
    <%= "No Secondary Contact" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
