<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<%= form_with(model: interaction, local: true) do |form| %>
  <% if interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
      <% interaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact_id %>
    <%= form.select(:contact_id) do %>
      <% Contact.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.last_name << ', ' << c.first_name, value: c.contact_id) %>
      <% end %>
    <% end %>
    <%= link_to 'New Contact', new_contact_path %>
  </div>

  <div class="field">
    <%= form.label :date_time %><font color='#ff0000'>*</font>
    <%= form.datetime_select :date_time, id: :interaction_date_time %>
  </div>

  <div class="field">
    <%= form.label :interaction_type %><font color='#ff0000'>*</font>
    <%= form.text_field :interaction_type, id: :interaction_type %>
  </div>

  <div class="field">
    <%= form.label :result %><font color='#ff0000'>*</font>
    <%= form.text_field :result, id: :interaction_result %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :interaction_note %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.select(:property_id) do %>
      <% Property.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, Address.where(["address_id = ?", c.address_id]).first.line_1 << ', ' << Address.where(["address_id = ?", c.address_id]).first.city << ', ' << Address.where(["address_id = ?", c.address_id]).first.state << ' ' << Address.where(["address_id = ?", c.address_id]).first.zip_code.to_s, value: c.property_id) %>
      <% end %>
    <% end %>
    <%= link_to 'New Property', new_property_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
