<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= link_to Contact.where(["contact_id = ?", @interaction.contact_id]).first.last_name, Contact.where(["contact_id = ?", @interaction.contact_id]).first %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @interaction.date_time %>
</p>

<p>
  <strong>Type:</strong>
  <%= @interaction.interaction_type %>
</p>

<p>
  <strong>Result:</strong>
  <%= @interaction.result %>
</p>

<p>
  <strong>Note:</strong>
  <%= @interaction.note %>
</p>

<p>
  <strong>Property:</strong>
  <%= link_to Address.where(["address_id = ?", Property.where(["property_id = ?", @interaction.property_id]).first.address_id]).first.line_1, Property.where(["property_id = ?", @interaction.property_id]).first %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
