<p id="notice"><%= notice %></p>

<p>
  <strong>Interaction:</strong>
  <%= @interaction.interaction_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @interaction.contact_id %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @interaction.date_time %>
</p>

<p>
  <strong>Type:</strong>
  <%= @interaction.type %>
</p>

<p>
  <strong>Result:</strong>
  <%= @interaction.result %>
</p>

<p>
  <strong>Note:</strong>
  <%= @interaction.note %>
</p>

<p>
  <strong>Property:</strong>
  <%= @interaction.property_id %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
