
<html>
<nav className="navbar navbar-default">
  <meta charSet="utf-8" />
  <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
  <meta name="Navbar" content="width=device-width, initial-scale=1" />
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'CRM Equity Solutions', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" className="collapse navbar-collapse">
      <div class="nav navbar-nav">
        <li><a href="home">Home</a></li>
        <li><a href="guides">Guide</a></li>
        <li><a href="contact_page">Contact Me</a></li>
      </div>
      <div class="nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to (current_user.email), edit_user_registration_path, :class => 'navbar-link' %></li> 
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </div>
    </div>
  </div>
</nav>

    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Contact</h1>
          </div>
          
        </div>
      </div>
    </header>

    <h1 style="text-align: left; padding: 60px 0px 10px 60px"> Tori Patterson</h1>
    <h6 style="color :#696969; text-align: left; padding: 0px 0px 0px 64px"> Email: tori.patterson@gmail.com</h6>
    <h6 style="color :#696969; text-align: left; padding: 0px 0px 0px 64px"> Phone: 919-123-4567</h6>


    <p style="text-align: left; padding: 60px" ></p>
    

    <footer id="footer">
      <p>CRM Equity Solutions, &copy; 2017</p>
    </footer>

    <!-- Modals -->

    <!-- Add Page -->
    <div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Page</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Page Title</label>
          <input type="text" class="form-control" placeholder="Page Title">
        </div>
        <div class="form-group">
          <label>Page Body</label>
          <textarea name="editor1" class="form-control" placeholder="Page Body"></textarea>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Published
          </label>
        </div>
        <div class="form-group">
          <label>Meta Tags</label>
          <input type="text" class="form-control" placeholder="Add Some Tags...">
        </div>
        <div class="form-group">
          <label>Meta Description</label>
          <input type="text" class="form-control" placeholder="Add Meta Description...">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

  <script>
     CKEDITOR.replace( 'editor1' );
 </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
