<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<p id="notice"><%= notice %></p>

<p>
  <strong>User email:</strong>
  <%= @template.user_email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @template.text %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
