
<div id='BODY_CONTENT'>
<p id="notice"><%= notice %></p>

<h1>Images</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= link_to Address.where(["address_id = ?", Property.where(["property_id = ?", image.property_id]).first.address_id]).first.line_1, Property.where(["property_id = ?", image.property_id]).first %></td>
        <td><%= image.description %></td>
        <td><%= image_tag image.image.thumb.url %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
</div>