<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= link_to Address.where(["address_id = ?", @property.address_id]).first.line_1, Address.where(["address_id = ?", @property.address_id]).first %>
</p>

<p>
  <strong>Owner:</strong>
  <%= link_to Contact.where(["contact_id = ?", @property.owner]).first.last_name, Contact.where(["contact_id = ?", @property.owner]).first %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Time on mrkt:</strong>
  <%= @property.time_on_mrkt %>
</p>

<p>
  <strong>Construction:</strong>
  <%= @property.construction %>
</p>

<p>
  <strong>Basement ind:</strong>
  <%= @property.basement_ind %>
</p>

<p>
  <strong>Public water ind:</strong>
  <%= @property.public_water_ind %>
</p>

<p>
  <strong>Offstreet parking ind:</strong>
  <%= @property.offstreet_parking_ind %>
</p>

<p>
  <strong>Main st ind:</strong>
  <%= @property.main_st_ind %>
</p>

<p>
  <strong>Garage ind:</strong>
  <%= @property.garage_ind %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @property.sqft %>
</p>

<p>
  <strong>Yr built:</strong>
  <%= @property.yr_built %>
</p>

<p>
  <strong>Bd rms:</strong>
  <%= @property.bd_rms %>
</p>

<p>
  <strong>Ba rms:</strong>
  <%= @property.ba_rms %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @property.rooms %>
</p>

<p>
  <strong>Kitch reno date:</strong>
  <%= @property.kitch_reno_date %>
</p>

<p>
  <strong>Bath reno date:</strong>
  <%= @property.bath_reno_date %>
</p>

<p>
  <strong>Roof type:</strong>
  <%= @property.roof_type %>
</p>

<p>
  <strong>Roof age:</strong>
  <%= @property.roof_age %>
</p>

<p>
  <strong>Roof leaks ind:</strong>
  <%= @property.roof_leaks_ind %>
</p>

<p>
  <strong>Plumb type:</strong>
  <%= @property.plumb_type %>
</p>

<p>
  <strong>Plumb age:</strong>
  <%= @property.plumb_age %>
</p>

<p>
  <strong>Plumb leak ind:</strong>
  <%= @property.plumb_leak_ind %>
</p>

<p>
  <strong>Foundation:</strong>
  <%= @property.foundation %>
</p>

<p>
  <strong>Heat type:</strong>
  <%= @property.heat_type %>
</p>

<p>
  <strong>Heat age:</strong>
  <%= @property.heat_age %>
</p>

<p>
  <strong>Heat works:</strong>
  <%= @property.heat_works %>
</p>

<p>
  <strong>Cool type:</strong>
  <%= @property.cool_type %>
</p>

<p>
  <strong>Cool age:</strong>
  <%= @property.cool_age %>
</p>

<p>
  <strong>Cool works:</strong>
  <%= @property.cool_works %>
</p>

<p>
  <strong>Window type:</strong>
  <%= @property.window_type %>
</p>

<p>
  <strong>Window nbr:</strong>
  <%= @property.window_nbr %>
</p>

<p>
  <strong>Resn to sell:</strong>
  <%= @property.resn_to_sell %>
</p>

<p>
  <strong>Agnt list ind:</strong>
  <%= @property.agnt_list_ind %>
</p>

<p>
  <strong>Agnt exp date:</strong>
  <%= @property.agnt_exp_date %>
</p>

<p>
  <strong>Quick close amt:</strong>
  <%= @property.quick_close_amt %>
</p>

<p>
  <strong>Amt owed:</strong>
  <%= @property.amt_owed %>
</p>

<p>
  <strong>Pymnt crnt:</strong>
  <%= @property.pymnt_crnt %>
</p>

<p>
  <strong>Pymt amt:</strong>
  <%= @property.pymt_amt %>
</p>

<p>
  <strong>Tax inc ind:</strong>
  <%= @property.tax_inc_ind %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @property.interest_rate %>
</p>

<p>
  <strong>Pymnt asum ind:</strong>
  <%= @property.pymnt_asum_ind %>
</p>

<p>
  <strong>Sell by date:</strong>
  <%= @property.sell_by_date %>
</p>

<p>
  <strong>Bck tx ind:</strong>
  <%= @property.bck_tx_ind %>
</p>

<p>
  <strong>Bkd tx amt:</strong>
  <%= @property.bkd_tx_amt %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
