<html>
  <style>
    .container {
    padding-left :0px;
    padding-right :0px;
    margin-left: 0px;
    width: 100%; 
    height: 100%;
  }
</style>
  <head>
    <title>CRM Contacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="container">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="navbar-header">
        <p class="navbar-text">CRM Equity Solutions</p> 
      </div>
    <div class="nav navbar-nav">
          <li><a href="properties">Home</a></li>
          <li><a href="guides">Guide</a></li>
          <li><a href="contact_page">Contact Me</a></li>
        </div>
      </div>
    <div class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to (current_user.email), edit_user_registration_path, :class => 'navbar-link' %></li> 
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
            <li><%= link_to 'Log In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </div>
        </div>
  </div>
</nav>

    <p id="notice"><%= notice %></p>
    
    <!-- HREF Modal -->
    <!-- Takes a reference and loads it -->
    <!-- IMPORTANT the referenced html page must have id='BODY_CONTENT'
          because that's the only html element that will be loaded  -->
    <div id="hrefModal" class="href-modal modal fade" role="dialog">
      <div class="modal-dialog" >
        <!-- Modal content-->
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title">Modal Header</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id="hrefModalContent">
            
          </div>
        </div><!-- END Modal content-->
      </div>
    </div> <!-- END HREF Modal -->
    
    
    <div class="container">
      <div class="page-header" >
        <h1 class='collapse' id='properties-page-header'>
          Properties<small> Manage Properties</small>
        </h1>
        <h1 class='collapse' id='contacts-page-header'>
          Contacts<small> Manage Contacts</small>
        </h1>
        
      </div>
   
      
      <div class="row">
        
        <!-- Main Left Column -->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
          
          <!-- Table Picker -->
          <div class="list-group" > 
            <div class="list-group-item main-color-bg">
              Tables
            </div>
            
            <a class="list-group-item" id='table-option-properties'>
              Properties <span class="badge"><%= @properties.length %></span>
            </a>
            <a class="list-group-item" id='table-option-contacts'>
              Contacts <span class="badge"><%= @contacts.length %></span>
            </a>   
          </div> <!-- End Table Picker  -->
          <br><br>
          <!-- Links Selection -->
          <div class="list-group"> 
            <div class="list-group-item main-color-bg">
              Links
            </div>
            
            <a data-id='/property_views' class="list-group-item href-button">
              Template Editor
            </a>
            <a data-id="<%=new_contact_path%>" class="list-group-item href-button" >
              New Contact
            </a>
            <a data-id="<%= new_address_path %>" class="list-group-item href-button" >
              New Address
            </a>
            <a data-id="<%= new_property_path%>" class="list-group-item href-button" >
              New Property
            </a>
            
          </div> <!-- End Links Picker  -->
          <br><br>
        </div> <!-- End Left Column  -->
      
        <!-- Right Main Column -->
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
          
          <!-- Contacts Panel -->
          <div class="panel panel-default panel-collapse collapse" id='contactsPanel'>
            <div class="panel-heading main-color-bg ">
              <div class="panel-title">Contacts</div>
            </div>
            <div class="panel-body" id='search'>
              <!-- Search -->
              <div class='panel row'>
                <div class="panel-group col-xs-12" id="accordion">
                  <div class="panel panel-default">
                    <div class='container'>
                    <div class='panel panel-heading row'>
                      <div class="col-xs-4 panel-title">Search</div>
                      <div class="col-xs-5 text-center"><!--empty--></div>
                      <!-- Search Picker style="padding-bottom:12px"-->
                      <div class="col-xs-3">
                        <div class="btn-group pull-right" data-toggle="buttons" >
                          <label data-toggle="collapse" data-parent="#accordion" data-target="#simpleSearch" class="btn btn-outline-primary col align-self-center active">
                            <input type="radio" name="options" id="radio1" autocomplete="off" checked> Simple
                          </label>
                          <label data-toggle="collapse" data-parent="#accordion" data-target="#advancedSearch"  class="btn  btn-outline-primary col align-self-center">
                            <input  type="radio" name="options" id="radio2" autocomplete="off"> Advanced
                          </label>
                        </div>
                      </div>
                      </div>
                    </div>
                    <div id="simpleSearch" class="panel-collapse collapse" >
                      <div class="panel-body">
                        <div class="list-group">
                          <%= search_form_for @q, url: search_home_index_path, html: { method: :post } do |f| %>
                          <%= f.search_field :first_name_or_middle_name_or_last_name_or_phone_or_email_or_contact_type_cont, :class => "list-group-item form-control", :placeholder => 'Filter...'%>
                          <%= f.submit :class => "list-group-item btn btn-outline-warning col align-self-center"%>
                          <% end %>
                        </div>
                      </div>
                    </div>  <!-- END panel-collapse -->
                    <div id="advancedSearch" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="list-group">
                          <%= search_form_for @q, url: search_home_index_path, html: { method: :post } do |f| %>
                          <%= f.search_field :first_name_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name'%>    
                          <%= f.search_field :middle_name_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Middle Name' %>
                          <%= f.search_field :last_name_cont, :class => 'list-group-item form-control', :placeholder => 'Last Name' %>
                          <%= f.search_field :phone_cont, :class => 'list-group-item form-control', :placeholder => 'Phone' %>
                          <%= f.search_field :email_cont, :class => 'list-group-item form-control', :placeholder => 'Email' %>
                          <%= f.search_field :contact_type_cont, :class => 'list-group-item form-control', :placeholder => 'Contact Type' %>
                          <%= f.submit :class => 'list-group-item btn btn-outline-warning col align-self-center'%>
                          <% end %>
                        </div>
                      </div>
                    </div>  <!-- END panel-collapse -->
                  </div>  <!-- END panel -->
                </div> <!-- END panel-group -->
              </div> <!--END Search-->
              <br>
              <div class="table-responsive">
              <!-- Actual Table -->
              <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th><%= sort_link(@q, :last_name, "Name") %></th>
                  <th><%= sort_link(@q, :address_id) %></th>
                  <th><%= sort_link(@q, :phone) %></th>
                  <th><%= sort_link(@q, :email) %></th>
                  <th><%= sort_link(@q, :contact_type) %></th>
                  <th></th><th></th><th></th>
                </tr>
              </thead>
            
              <tbody>
                <% @contacts.each do |contact| %>
                  <tr align="center" class='href-button' data-id="<%= contact_path(contact) %>" >
                    <td><%= contact.last_name << ', ' << contact.first_name << ' ' << contact.middle_name[0] %></td>
                    <td role="button" class='href-button' data-id='<%= address_path(Address.where(["address_id = ?", contact.address_id]).first) %>'>
                      <%= Address.where(["address_id = ?", contact.address_id]).first.line_1 %> 
                    </td>
                    <td><%= contact.phone %></td>
                    <td><%= contact.email %></td>
                    <td><%= contact.contact_type %></td>
                    <td><a data-id="<%= see_business_cards_path(contact.contact_id) %>" class='btn btn-info href-button'>Card</a></td>
                    <td><a data-id="<%= edit_contact_path(contact) %>" class='btn btn-warning href-button'>Edit</a></td>
                    <td><%= link_to "<span class='btn btn-danger'>Delete</span>".html_safe, contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            </div>
            </div> <!-- End Panel Body -->
          </div> <!-- End Contacts Panel -->
          <!-- Properties Panel -->
          <div class="panel panel-default panel-collapse collapse" id='propertiesPanel'>
            <div class="panel-heading main-color-bg ">
              <div class="panel-title">Properties</div>
            </div>
            <div class="panel-body" id='search'>
              <!-- Search -->
              <div class='panel row'>
                <div class="panel-group col-xs-12" id="propertySearch">
                  <div class="panel panel-default">
                    <div class='container'>
                    <div class='panel panel-heading row'>
                      <div class="col-xs-4 panel-title ">Search</div>
                      <div class="col-xs-5 text-center"><!--empty--></div>
                      <!-- Search Picker -->
                      <div class="col-xs-3">
                        <div class="btn-group pull-right" data-toggle="buttons" >
                          <label data-toggle="collapse" data-parent="#propertySearch" data-target="#simplePropertySearch" class="btn btn-outline-primary col align-self-center active">
                            <input type="radio" name="options" id="radio1" autocomplete="off" checked> Simple
                          </label>
                          <label data-toggle="collapse" data-parent="#propertySearch" data-target="#advancedPropertySearch"  class="btn  btn-outline-primary col align-self-center">
                            <input  type="radio" name="options" id="radio2" autocomplete="off"> Advanced
                          </label>
                        </div>
                      </div>
                      </div>
                    </div>
                    <div id="simplePropertySearch" class="panel-collapse collapse" >
                      <div class="panel-body">
                        <div class="list-group">
                          <%= search_form_for @q2, url: search_home_index_path, html: { method: :post } do |f| %>
                          <%= f.search_field :property_type_or_time_on_mrkt_or_construction_or_sqft_or_yr_built_or_bd_rms_or_ba_rms_or_rooms_or_roof_type_or_roof_age_or_plumb_type_or_plumb_age_or_foundation_or_heat_type_or_heat_age_or_cool_type_or_cool_age_or_window_type_or_window_nbr_or_resn_to_sell_or_quick_close_amt_or_amt_owed_or_pymnt_crnt_or_pymt_amt_or_interest_rate_or_bkd_tx_amt_cont,
                          :class => "list-group-item form-control", :placeholder => 'Filter...'%>
                          <%= f.submit :class => "list-group-item btn btn-outline-warning col align-self-center"%>
                          <% end %>
                        </div>
                      </div>
                    </div>  <!-- END panel-collapse -->
                    <div id="advancedPropertySearch" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="list-group">
                          <%= search_form_for @q2, url: search_home_index_path, html: { method: :post } do |f| %>
                          <%= f.search_field :property_type_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :time_on_mrkt_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :construction_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :sqft_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :yr_built_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :bd_rms_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :ba_rms_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :rooms_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :roof_type_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :roof_age_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :plumb_type_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :plumb_age_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :foundation_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :heat_type_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :heat_age_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :cool_type_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :cool_age_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :window_type_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :window_nbr_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :resn_to_sell_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :quick_close_amt_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :amt_owed_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :pymnt_crnt_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :pymt_amt_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :interest_rate_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.search_field :bkd_tx_amt_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name' %>
                          <%= f.submit :class => 'list-group-item btn btn-outline-warning col align-self-center'%>
                          <% end %>
                        </div>
                      </div>
                    </div>  <!-- END panel-collapse -->
                  </div>  <!-- END panel -->
                </div> <!-- END panel-group -->
              </div> <!--END Search-->
              <br>
              <div class="table-responsive">
                <!-- Actual Table -->
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th><%= sort_link(@q2, :owner) %></th>
                      <th><%= sort_link(@q2, :address_id) %></th>
                      <th><%= sort_link(@q2, :yr_built) %></th>
                      <th><%= sort_link(@q2, :bd_rms) %></th>
                      <th><%= sort_link(@q2, :ba_rms) %></th>
                      <th><%= sort_link(@q2, :rooms) %></th>
                      <th><%= sort_link(@q2, :quick_close_amt) %></th>
                      <th><%= sort_link(@q2, :sell_by_date) %></th>
                      <th colspan="4"></th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% @properties.each do |property| %>
                      <tr align="center" class='href-button' data-id="<%= property_path(property) %>"> <!--contactsModal-->
                        <td role="button" class='href-button' data-id='<%= contact_path(Contact.where(["contact_id = ?", property.owner]).first) %>'>
                          <%= Contact.where(["contact_id = ?", property.owner]).first.last_name %> 
                        </td>
                        <td role="button" class='href-button' data-id='<%= address_path(Address.where(["address_id = ?", property.address_id]).first) %>'>
                          <%= Address.where(["address_id = ?", property.address_id]).first.line_1 %> 
                        </td>
                        <td><%= property.yr_built %></td>
                        <td><%= property.bd_rms %></td>
                        <td><%= property.ba_rms %></td>
                        <td><%= property.rooms %></td>
                        <td><%= property.quick_close_amt %></td>
                        <td><%= property.sell_by_date %></td>
                        <td><a data-id="<%= see_images_path(property.property_id) %>" class='btn btn-info href-button'>Images</a></td>
                        <td><a data-id="<%= see_investors_path(property.property_id) %>" class='btn btn-info href-button'>Matches</a></td>
                        <td><a data-id="<%= edit_property_path(property) %>" class='btn btn-warning href-button'>Edit</a></td>
                        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div> <!-- End Panel Body -->
          </div> <!-- End Properties Panel -->
        </div> <!-- End Right Side Main -->
      </div><!-- End Row -->
    
    </div><!-- End Main Container -->
    
    <br>
    <!-- save these variables for all scripts to use -->
    <%= javascript_tag do %>
      var contacts = <%= @contacts.to_json.html_safe %>;
      var properties = <%= @properties.to_json.html_safe %>
    <% end %>
    
    <!-- Script for loading html into hrefModal -->
    <script>
      
      $(document).ready(function(){
        
        $('.href-button').on('click', function(e){
          e.stopPropagation();
          var t = e.target;
          console.log(t)
          var href = $(t).data('id')? $(t).data('id') : $(t.parentNode).data('id');
          
          console.log('href=', href)
          $('#hrefModalContent').load(href + ' #BODY_CONTENT', function(){
            console.log('href successfully loaded')
          });
          $('#hrefModal').modal('show');
        });
        
        $('#hrefModal').on('show.bs.modal', function (e) {
          console.log('hrefModal show')
        });
        
        $('#hrefModal').on('hidden.bs.modal', function (e) {
          console.log('hrefModal hidden');
          var node = $("#hrefModalContent")[0]; //TODO add check
          while (node.hasChildNodes()) {
            node.removeChild(node.lastChild);
          }
        });
        
      });
    </script>
    
    <!-- Table Selector Scripts -->
    <script>
      //TODO : Change HTML header when table selection is changed
      
      $(document).ready(function(){
        function switchToProperties(){
          $('#propertiesPanel').collapse('show');
          $('#contactsPanel').collapse('hide');
        }
        function switchToContacts(){
          $('#propertiesPanel').collapse('hide');
          $('#contactsPanel').collapse('show');
        }
        $('#table-option-properties').on('click', function(e){
          switchToProperties();
        });
        $('#table-option-contacts').on('click', function(e){
          switchToContacts();
        });
        $('#propertiesPanel').on('shown.bs.collapse', function(){
          $('#properties-page-header').collapse('show');
          $('#contacts-page-header').collapse('hide');
        });
        $('#contactsPanel').on('shown.bs.collapse', function(){
          $('#properties-page-header').collapse('hide');
          $('#contacts-page-header').collapse('show');         
        });
        switchToProperties();
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>

<!---



<table>
  <thead>
    <tr>
      <th><%= sort_link(@q2, :construction) %></th>
      <th><%= sort_link(@q2, :basement_ind) %></th>
      <th><%= sort_link(@q2, :public_water_ind) %></th>
      <th><%= sort_link(@q2, :offstreet_parking_ind) %></th>
      <th><%= sort_link(@q2, :main_st_ind) %></th>
      <th><%= sort_link(@q2, :garage_ind) %></th>
      <th><%= sort_link(@q2, :sqft) %></th>
      <th><%= sort_link(@q2, :kitch_reno_date) %></th>
      <th><%= sort_link(@q2, :bath_reno_date) %></th>
      <th><%= sort_link(@q2, :roof_type) %></th>
      <th><%= sort_link(@q2, :roof_age) %></th>
      <th><%= sort_link(@q2, :roof_leaks_ind) %></th>
      <th><%= sort_link(@q2, :plumb_type) %></th>
      <th><%= sort_link(@q2, :plumb_age) %></th>
      <th><%= sort_link(@q2, :plumb_leak_ind) %></th>
      <th><%= sort_link(@q2, :foundation) %></th>
      <th><%= sort_link(@q2, :heat_type) %></th>
      <th><%= sort_link(@q2, :heat_age) %></th>
      <th><%= sort_link(@q2, :heat_works) %></th>
      <th><%= sort_link(@q2, :cool_type) %></th>
      <th><%= sort_link(@q2, :cool_age) %></th>
      <th><%= sort_link(@q2, :cool_works) %></th>
      <th><%= sort_link(@q2, :window_type) %></th>
      <th><%= sort_link(@q2, :window_nbr) %></th>
      <th><%= sort_link(@q2, :resn_to_sell) %></th>
      <th><%= sort_link(@q2, :agnt_list_ind) %></th>
      <th><%= sort_link(@q2, :agnt_exp_date) %></th>
      <th><%= sort_link(@q2, :amt_owed) %></th>
      <th><%= sort_link(@q2, :pymnt_crnt) %></th>
      <th><%= sort_link(@q2, :pymt_amt) %></th>
      <th><%= sort_link(@q2, :tax_inc_ind) %></th>
      <th><%= sort_link(@q2, :interest_rate) %></th>
      <th><%= sort_link(@q2, :pymnt_asum_ind) %></th>
      <th><%= sort_link(@q2, :bck_tx_ind) %></th>
      <th><%= sort_link(@q2, :bkd_tx_amt) %></th>
      
    </tr>
  </thead>

  <tbody>
      <% @properties.each do |property| %>
      <tr>
        <td><%= property.property_type %></td>
        <td><%= property.time_on_mrkt %></td>
        <td><%= property.construction %></td>
        <td><%= property.basement_ind %></td>
        <td><%= property.public_water_ind %></td>
        <td><%= property.offstreet_parking_ind %></td>
        <td><%= property.main_st_ind %></td>
        <td><%= property.garage_ind %></td>
        <td><%= property.sqft %></td>
        
        
        <td><%= property.kitch_reno_date %></td>
        <td><%= property.bath_reno_date %></td>
        <td><%= property.roof_type %></td>
        <td><%= property.roof_age %></td>
        <td><%= property.roof_leaks_ind %></td>
        <td><%= property.plumb_type %></td>
        <td><%= property.plumb_age %></td>
        <td><%= property.plumb_leak_ind %></td>
        <td><%= property.foundation %></td>
        <td><%= property.heat_type %></td>
        <td><%= property.heat_age %></td>
        <td><%= property.heat_works %></td>
        <td><%= property.cool_type %></td>
        <td><%= property.cool_age %></td>
        <td><%= property.cool_works %></td>
        <td><%= property.window_type %></td>
        <td><%= property.window_nbr %></td>
        <td><%= property.resn_to_sell %></td>
        <td><%= property.agnt_list_ind %></td>
        <td><%= property.agnt_exp_date %></td>
        <td><%= property.quick_close_amt %></td>
        <td><%= property.amt_owed %></td>
        <td><%= property.pymnt_crnt %></td>
        <td><%= property.pymt_amt %></td>
        <td><%= property.tax_inc_ind %></td>
        <td><%= property.interest_rate %></td>
        <td><%= property.pymnt_asum_ind %></td>
        <td><%= property.sell_by_date %></td>
        <td><%= property.bck_tx_ind %></td>
        <td><%= property.bkd_tx_amt %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>



-->