<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<%= search_form_for @q, url: search_home_index_path, html: { method: :post } do |f| %>
  
  <h3>Search Database</h3>
  
  <%= f.search_field :first_name_or_middle_name_or_last_name_or_phone_or_email_or_contact_type_cont %>

  <%= f.submit %>
<% end %>

<%= search_form_for @q, url: search_home_index_path, html: { method: :post } do |f| %>

  <h3>Search By Column</h3>

  <%= f.label :first_name_cont %>
  <%= f.search_field :first_name_cont %>
  
  <%= f.label :middle_name_cont %>
  <%= f.search_field :middle_name_cont %>
  
  <%= f.label :last_name_cont %>
  <%= f.search_field :last_name_cont %>
  
  <%= f.label :phone_cont %>
  <%= f.search_field :phone_cont %>
  
  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>
  
  <%= f.label :contact_type_cont %>
  <%= f.search_field :contact_type_cont %>
  
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :address_id) %></th>
      <th><%= sort_link(@q, :first_name) %></th>
      <th><%= sort_link(@q, :middle_name) %></th>
      <th><%= sort_link(@q, :last_name) %></th>
      <th><%= sort_link(@q, :phone) %></th>
      <th><%= sort_link(@q, :phone_ext) %></th>
      <th><%= sort_link(@q, :alt_phone) %></th>
      <th><%= sort_link(@q, :alt_ext) %></th>
      <th><%= sort_link(@q, :fax) %></th>
      <th><%= sort_link(@q, :email) %></th>
      <th><%= sort_link(@q, :contact_type) %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to Address.where(["address_id = ?", contact.address_id]).first.line_1, Address.where(["address_id = ?", contact.address_id]).first %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.middle_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.phone_ext %></td>
        <td><%= contact.alt_phone %></td>
        <td><%= contact.alt_ext %></td>
        <td><%= contact.fax %></td>
        <td><%= contact.email %></td>
        <td><%= contact.contact_type %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'See Business Cards', see_business_cards_path(contact.contact_id) %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>

<h1>Properties</h1>

<%= search_form_for @q2, url: search_home_index_path, html: { method: :post } do |f| %>
  
  <h3>Search Database</h3>
  
  <%= f.search_field :property_type_or_time_on_mrkt_or_construction_or_sqft_or_yr_built_or_bd_rms_or_ba_rms_or_rooms_or_roof_type_or_roof_age_or_plumb_type_or_plumb_age_or_foundation_or_heat_type_or_heat_age_or_cool_type_or_cool_age_or_window_type_or_window_nbr_or_resn_to_sell_or_quick_close_amt_or_amt_owed_or_pymnt_crnt_or_pymt_amt_or_interest_rate_or_bkd_tx_amt_cont %>

  <%= f.submit %>
<% end %>

<%= search_form_for @q2, url: search_home_index_path, html: { method: :post } do |f| %>

  <h3>Search By Column</h3>

  <%= f.label :property_type_cont %>
  <%= f.search_field :property_type_cont %>
  
  <%= f.label :time_on_mrkt_cont %>
  <%= f.search_field :time_on_mrkt_cont %>
  
  <%= f.label :construction_cont %>
  <%= f.search_field :construction_cont %>
  
  <%= f.label :sqft_cont %>
  <%= f.search_field :sqft_cont %>
  
  <%= f.label :yr_built_cont %>
  <%= f.search_field :yr_built_cont %>
  
  <%= f.label :bd_rms_cont %>
  <%= f.search_field :bd_rms_cont %>
  
  <%= f.label :ba_rms_cont %>
  <%= f.search_field :ba_rms_cont %>
  
  <%= f.label :rooms_cont %>
  <%= f.search_field :rooms_cont %>
  
  <%= f.label :roof_type_cont %>
  <%= f.search_field :roof_type_cont %>
  
  <%= f.label :roof_age_cont %>
  <%= f.search_field :roof_age_cont %>
  
  <%= f.label :plumb_type_cont %>
  <%= f.search_field :plumb_type_cont %>
  
  <%= f.label :plumb_age_cont %>
  <%= f.search_field :plumb_age_cont %>
  
  <%= f.label :foundation_cont %>
  <%= f.search_field :foundation_cont %>
  
  <%= f.label :heat_type_cont %>
  <%= f.search_field :heat_type_cont %>
  
  <%= f.label :heat_age_cont %>
  <%= f.search_field :heat_age_cont %>
  
  <%= f.label :cool_type_cont %>
  <%= f.search_field :cool_type_cont %>
  
  <%= f.label :cool_age_cont %>
  <%= f.search_field :cool_age_cont %>
  
  <%= f.label :window_type_cont %>
  <%= f.search_field :window_type_cont %>
  
  <%= f.label :window_nbr_cont %>
  <%= f.search_field :window_nbr_cont %>
  
  <%= f.label :resn_to_sell_cont %>
  <%= f.search_field :resn_to_sell_cont %>
  
  <%= f.label :quick_close_amt_cont %>
  <%= f.search_field :quick_close_amt_cont %>
  
  <%= f.label :amt_owed_cont %>
  <%= f.search_field :amt_owed_cont %>
  
  <%= f.label :pymnt_crnt_cont %>
  <%= f.search_field :pymnt_crnt_cont %>
  
  <%= f.label :pymt_amt_cont %>
  <%= f.search_field :pymt_amt_cont %>
  
  <%= f.label :interest_rate_cont %>
  <%= f.search_field :interest_rate_cont %>
  
  <%= f.label :bkd_tx_amt_cont %>
  <%= f.search_field :bkd_tx_amt_cont %>
  
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q2, :address_id) %></th>
      <th><%= sort_link(@q2, :owner) %></th>
      <th><%= sort_link(@q2, :property_type) %></th>
      <th><%= sort_link(@q2, :time_on_mrkt) %></th>
      <th><%= sort_link(@q2, :construction) %></th>
      <th><%= sort_link(@q2, :basement_ind) %></th>
      <th><%= sort_link(@q2, :public_water_ind) %></th>
      <th><%= sort_link(@q2, :offstreet_parking_ind) %></th>
      <th><%= sort_link(@q2, :main_st_ind) %></th>
      <th><%= sort_link(@q2, :garage_ind) %></th>
      <th><%= sort_link(@q2, :sqft) %></th>
      <th><%= sort_link(@q2, :yr_built) %></th>
      <th><%= sort_link(@q2, :bd_rms) %></th>
      <th><%= sort_link(@q2, :ba_rms) %></th>
      <th><%= sort_link(@q2, :rooms) %></th>
      <th><%= sort_link(@q2, :kitch_reno_date) %></th>
      <th><%= sort_link(@q2, :bath_reno_date) %></th>
      <th><%= sort_link(@q2, :roof_type) %></th>
      <th><%= sort_link(@q2, :roof_age) %></th>
      <th><%= sort_link(@q2, :roof_leaks_ind) %></th>
      <th><%= sort_link(@q2, :plumb_type) %></th>
      <th><%= sort_link(@q2, :plumb_age) %></th>
      <th><%= sort_link(@q2, :plumb_leak_ind) %></th>
      <th><%= sort_link(@q2, :foundation) %></th>
      <th><%= sort_link(@q2, :heat_type) %></th>
      <th><%= sort_link(@q2, :heat_age) %></th>
      <th><%= sort_link(@q2, :heat_works) %></th>
      <th><%= sort_link(@q2, :cool_type) %></th>
      <th><%= sort_link(@q2, :cool_age) %></th>
      <th><%= sort_link(@q2, :cool_works) %></th>
      <th><%= sort_link(@q2, :window_type) %></th>
      <th><%= sort_link(@q2, :window_nbr) %></th>
      <th><%= sort_link(@q2, :resn_to_sell) %></th>
      <th><%= sort_link(@q2, :agnt_list_ind) %></th>
      <th><%= sort_link(@q2, :agnt_exp_date) %></th>
      <th><%= sort_link(@q2, :quick_close_amt) %></th>
      <th><%= sort_link(@q2, :amt_owed) %></th>
      <th><%= sort_link(@q2, :pymnt_crnt) %></th>
      <th><%= sort_link(@q2, :pymt_amt) %></th>
      <th><%= sort_link(@q2, :tax_inc_ind) %></th>
      <th><%= sort_link(@q2, :interest_rate) %></th>
      <th><%= sort_link(@q2, :pymnt_asum_ind) %></th>
      <th><%= sort_link(@q2, :sell_by_date) %></th>
      <th><%= sort_link(@q2, :bck_tx_ind) %></th>
      <th><%= sort_link(@q2, :bkd_tx_amt) %></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= link_to Address.where(["address_id = ?", property.address_id]).first.line_1, Address.where(["address_id = ?", property.address_id]).first %></td>
        <td><%= link_to Contact.where(["contact_id = ?", property.owner]).first.last_name, Contact.where(["contact_id = ?", property.owner]).first %></td>
        <td><%= property.property_type %></td>
        <td><%= property.time_on_mrkt %></td>
        <td><%= property.construction %></td>
        <td><%= property.basement_ind %></td>
        <td><%= property.public_water_ind %></td>
        <td><%= property.offstreet_parking_ind %></td>
        <td><%= property.main_st_ind %></td>
        <td><%= property.garage_ind %></td>
        <td><%= property.sqft %></td>
        <td><%= property.yr_built %></td>
        <td><%= property.bd_rms %></td>
        <td><%= property.ba_rms %></td>
        <td><%= property.rooms %></td>
        <td><%= property.kitch_reno_date %></td>
        <td><%= property.bath_reno_date %></td>
        <td><%= property.roof_type %></td>
        <td><%= property.roof_age %></td>
        <td><%= property.roof_leaks_ind %></td>
        <td><%= property.plumb_type %></td>
        <td><%= property.plumb_age %></td>
        <td><%= property.plumb_leak_ind %></td>
        <td><%= property.foundation %></td>
        <td><%= property.heat_type %></td>
        <td><%= property.heat_age %></td>
        <td><%= property.heat_works %></td>
        <td><%= property.cool_type %></td>
        <td><%= property.cool_age %></td>
        <td><%= property.cool_works %></td>
        <td><%= property.window_type %></td>
        <td><%= property.window_nbr %></td>
        <td><%= property.resn_to_sell %></td>
        <td><%= property.agnt_list_ind %></td>
        <td><%= property.agnt_exp_date %></td>
        <td><%= property.quick_close_amt %></td>
        <td><%= property.amt_owed %></td>
        <td><%= property.pymnt_crnt %></td>
        <td><%= property.pymt_amt %></td>
        <td><%= property.tax_inc_ind %></td>
        <td><%= property.interest_rate %></td>
        <td><%= property.pymnt_asum_ind %></td>
        <td><%= property.sell_by_date %></td>
        <td><%= property.bck_tx_ind %></td>
        <td><%= property.bkd_tx_amt %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'See Images', see_images_path(property.property_id) %></td>
        <td><%= link_to 'See Investors', see_investors_path(property.property_id) %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>