<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<html>
  <style>
  .modal-body {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
  }
    .container {
      padding-left :0px;
      padding-right :0px;
      margin-left: 0px;
      width: 100%; 
      height: 100%;
    }
    .page-header {
      margin: 20px 0px 20px;
    }
  </style>
  <head>
    <title>CRM Contacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  </div>
  
  <body>
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-header">
          <p class="navbar-text">CRM Equity Solutions</p> 
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="zillow_prefs/new">Edit Zillow Preferences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="template_send">Send a Template</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="abouts">About</a>
            </li>
          </ul>
          <ul class = "navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to (current_user.email), edit_user_registration_path, :class => 'navbar-link' %></li> 
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            <% else %>
              <li><%= link_to 'Log In', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    
    <!-- HREF Modal @author Talha Koc-->
    <!-- Takes a reference and loads it -->
    <!-- IMPORTANT the referenced html page must have id='BODY_CONTENT'
          because that's the only html element that will be loaded  -->
    <div id="hrefModal" class="href-modal modal fade" role="dialog">
      <div class="modal-dialog" >
        <!-- Modal content-->
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id="hrefModalContent">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- END Modal content-->
      </div>
    </div> <!-- END HREF Modal -->
    
    <!-- Main Container @author Talha Koc-->
    <div class="container">
      <div class="page-header" >
        <h1 class='collapse' id='properties-page-header'>
          Properties<small> Manage Properties</small>
        </h1>
        <h1 class='collapse' id='contacts-page-header'>
          Contacts<small> Manage Contacts</small>
        </h1>
      </div>
      
      <!-- Contains the Main Left/Right Columns -->
      <div class="row">
        
        <!-- Main Left Column -->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
          
          <!-- Table Picker Panel -->
          <div class="list-group" > 
            <div class="list-group-item main-color-bg">
              Tables
            </div>
            
            <a class="list-group-item" id='table-option-properties'>
              Properties <span class="badge"><%= @properties.length %></span>
            </a>
            <a class="list-group-item" id='table-option-contacts'>
              Contacts <span class="badge"><%= @contacts.length %></span>
            </a>
            
          </div> <!-- End Table Picker  -->
          <br><br>
          
          <!-- Links Panel -->
          <div class="list-group" id='links'> 
            <div class="list-group-item main-color-bg " 
            data-parent="#links" data-toggle="collapse" href="#body-panel">
              Links
            </div>
            <div id='body-panel' class='panel-collapse'>
          
            <a data-toggle="collapse" data-parent="#links" href="#new-links-panel" 
            class="list-group-item collapse">
              <font size=2 color=>Create New</font> <span class="caret" color='#ff0000'></span>
            </a>
            <div id='new-links-panel' class='panel-collapse collapse' style='background:gray'>
              <div class ='panel-body' style='padding:8px'>
                <a data-id="<%=new_contact_path%>" class="list-group-item href-button"  >
                  New Contact
                </a>
                <a data-id="<%=new_interaction_path%>" class="list-group-item href-button"  >
                  New Interaction
                </a>
                <a data-id="<%= new_address_path %>" class="list-group-item href-button" >
                  New Address
                </a>
                <a data-id="<%= new_investor_pref_path %>" class="list-group-item href-button" >
                  New Investor Pref.
                </a>
                <a data-id="<%= new_property_path%>" class="list-group-item href-button" >
                  New Property
                </a>
                <a data-id="<%= new_business_card_path %>" class="list-group-item href-button" >
                  New Business Card
                </a>
                <a data-id="<%= new_business_path %>" class="list-group-item href-button" >
                  New Business
                </a>
                <a data-id="<%= new_community_path %>" class="list-group-item href-button" >
                  New Community
                </a>
              </div>
            </div>
                
            <a data-id='/templates/new' class="list-group-item href-button">
              Template Editor
            </a>
            <a href="<%=investor_prefs_path%>" class="list-group-item" >
              Investor Preferences
            </a>
            <a href="<%=businesses_path%>" class="list-group-item" >
              Businesses
            </a>
            <a href="<%=communities_path%>" class="list-group-item" >
              Communities
            </a>
            <a href="<%=interactions_path%>" class="list-group-item" >
              Interactions
            </a>
            <a href="<%=business_cards_path%>" class="list-group-item" >
              Business Cards
            </a>
            </div>
            
          </div> <!-- End Links Picker  -->
          <br><br>
        </div> <!-- End Left Column  -->
        
        <!-- Right Main Column -->
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
          
          <!-- Contacts Panel -->
          <div class="panel panel-default panel-collapse collapse" id='contactsPanel'>
            <div class="panel-heading main-color-bg ">
              <div class="panel-title">Contacts</div>
            </div>
            <div class="panel-body" id='search'>
              <!-- Search -->
              <div class='panel row'>
                <div class="panel-group col-xs-12" id="accordion">
                  <div class="panel panel-default">
                    <div class='container'>
                    <div class='panel panel-heading row'>
                      <div class="col-xs-4 panel-title">Search</div>
                      <div class="col-xs-5 text-center"><!--empty--></div>
                      <!-- Search Picker style="padding-bottom:12px"-->
                      <div class="col-xs-3">
                        <div class="btn-group pull-right" data-toggle="buttons" >
                          <label data-toggle="collapse" data-parent="#accordion" data-target="#simpleSearch" id='#simpleSearch' class="btn btn-outline-primary col align-self-center active">
                            <input type="radio" name="options" id="radio1" autocomplete="off" checked> Simple
                          </label>
                          <label data-toggle="collapse" data-parent="#accordion" data-target="#advancedSearch"  class="btn  btn-outline-primary col align-self-center">
                            <input  type="radio" name="options" id="radio2" autocomplete="off"> Advanced
                          </label>
                        </div>
                      </div>
                      </div>
                    </div>
                    <div id="simpleSearch" class="panel-collapse collapse" >
                      <div class="panel-body">
                        <div class="list-group">
                          <%= search_form_for @q, url: search_home_index_path, html: { method: :post } do |f| %>
                          <%= f.search_field :first_name_or_middle_name_or_last_name_or_phone_or_email_or_contact_type_cont, :class => "list-group-item form-control", :placeholder => 'Filter...'%>
                          <%= f.submit :class => "list-group-item btn btn-outline-warning col align-self-center"%>
                          <% end %>
                        </div>
                      </div>
                    </div>  <!-- END panel-collapse -->
                    <div id="advancedSearch" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="list-group">
                          <%= search_form_for @q, url: search_home_index_path, html: { method: :post } do |f| %>
                          <%= f.search_field :first_name_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name'%>    
                          <%= f.search_field :middle_name_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Middle Name' %>
                          <%= f.search_field :last_name_cont, :class => 'list-group-item form-control', :placeholder => 'Last Name' %>
                          <%= f.search_field :phone_cont, :class => 'list-group-item form-control', :placeholder => 'Phone' %>
                          <%= f.search_field :email_cont, :class => 'list-group-item form-control', :placeholder => 'Email' %>
                          <%= f.search_field :contact_type_cont, :class => 'list-group-item form-control', :placeholder => 'Contact Type' %>
                          <%= f.submit :class => 'list-group-item btn btn-outline-warning col align-self-center'%>
                          <% end %>
                        </div>
                      </div>
                    </div>  <!-- END panel-collapse -->
                  </div>  <!-- END panel -->
                </div> <!-- END panel-group -->
              </div> <!--END Search-->
              <br>
              <div class="table-responsive">
              <!-- Actual Table -->
              <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th><%= sort_link(@q, :last_name, "Name") %></th>
                  <th><%= sort_link(@q, :address_id) %></th>
                  <th><%= sort_link(@q, :phone) %></th>
                  <th><%= sort_link(@q, :email) %></th>
                  <th><%= sort_link(@q, :contact_type) %></th>
                  <th></th><th></th><th></th>
                </tr>
              </thead>
            
              <tbody>
                <% @contacts.each do |contact| %>
                  <tr align="center" class='href-button' data-id="<%= contact_path(contact) %>" >
                    <td><%= contact.last_name << ', ' << contact.first_name %></td>
                    <td role="button" class='href-button' data-id='<%= address_path(Address.where(["address_id = ?", contact.address_id]).first) %>'>
                      <%= Address.where(["address_id = ?", contact.address_id]).first.line_1 %> 
                    </td>
                    <td><%= contact.phone %></td>
                    <td><%= contact.email %></td>
                    <td><%= contact.contact_type %></td>
                    <td><a data-id="<%= see_business_cards_path(contact.contact_id) %>" class='btn btn-info href-button'>Card</a></td>
                    <td><a data-id="<%= edit_contact_path(contact) %>" class='btn btn-warning href-button'>Edit</a></td>
                    <td class='delete-button'><%= link_to "<span class='btn btn-danger'>Delete</span>".html_safe, delete_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            </div>
            <a data-id="<%= new_contact_path %>" class='btn btn-primary href-button'>New Contact</a>
            </div> <!-- End Panel Body -->
          </div> <!-- End Contacts Panel -->
          <!-- Properties Panel -->
          <div class="panel panel-default panel-collapse collapse" id='propertiesPanel'>
            <div class="panel-heading main-color-bg ">
              <div class="panel-title">Properties</div>
            </div>
            <div class="card">
              <div class="card-block">
                <div id="map"></div>
                <style>
                  #map {
                    width: 100%;
                    height: 400px;
                    background-color: grey;
                  }
                </style>
                <script>
                  function initMap() {
                    <% if @properties.size > 0 %>
                      var uluru = 0
                      <% if @properties.first.latitude != -1 and @properties.first.longitude != -1 %>
                        uluru = {lat: <%= @properties.first.latitude %>, lng: <%= @properties.first.longitude %>};
                      <% else %>
                        var uluru = {lat: -25.363, lng: 131.044};
                      <% end %>
                      var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 4,
                        center: uluru
                      });
                      <% @properties.each do |property| %>
                        <% if property.latitude != -1 and property.longitude != -1 %>
                          var uluru = {lat: <%= property.latitude %>, lng: <%= property.longitude %>};
                          var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                          });
                        <% end %>
                      <% end %>
                    <% else %>
                      var uluru = {lat: -25.363, lng: 131.044};
                      var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 4,
                        center: uluru
                      });
                      var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                      });
                    <% end %>
                  }
                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoBbj6wzXMhjzYiA-vq4c7tetfzY6OTT4&callback=initMap">
                </script>
              </div>
            </div>
            <div class="panel-body" id='search'>
              <!-- Search -->
              <div class='panel row'>
                <div class="panel-group col-xs-12" id="propertySearch">
                  <div class="panel panel-default">
                    <div class='container'>
                    <div class='panel panel-heading row'>
                      <div class="col-xs-4 panel-title ">Search</div>
                      <div class="col-xs-5 text-center"><!--empty--></div>
                      <!-- Search Picker -->
                      <div class="col-xs-3">
                        <div class="btn-group pull-right" data-toggle="buttons" >
                          <label data-toggle="collapse" data-parent="#propertySearch" data-target="#simplePropertySearch" class="btn btn-outline-primary col align-self-center active">
                            <input type="radio" name="options" id="radio1" autocomplete="off" checked> Simple
                          </label>
                          <label data-toggle="collapse" data-parent="#propertySearch" data-target="#advancedPropertySearch"  class="btn  btn-outline-primary col align-self-center">
                            <input  type="radio" name="options" id="radio2" autocomplete="off"> Advanced
                          </label>
                        </div>
                      </div>
                      </div>
                    </div>
                    <!-- Simple Search Panel-->
                    <div id="simplePropertySearch" class="panel-collapse collapse" >
                      <div class="panel-body">
                        <div class="list-group">
                          <%= search_form_for @q2, url: search_home_index_path, html: { method: :post } do |f| %>
                          <%= f.search_field :property_type_or_time_on_mrkt_or_construction_or_sqft_or_yr_built_or_bd_rms_or_ba_rms_or_rooms_or_roof_type_or_roof_age_or_plumb_type_or_plumb_age_or_foundation_or_heat_type_or_heat_age_or_cool_type_or_cool_age_or_window_type_or_window_nbr_or_resn_to_sell_or_quick_close_amt_or_amt_owed_or_pymnt_crnt_or_pymt_amt_or_interest_rate_or_bkd_tx_amt_cont,
                          :class => "list-group-item form-control", :placeholder => 'Filter...'%>
                          <%= f.submit :class => "list-group-item btn btn-outline-warning col align-self-center"%>
                          <% end %>
                        </div>
                      </div>
                    </div>  <!-- END panel-collapse -->
                    <div id="advancedPropertySearch" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="list-group">
                          <%= search_form_for @q2, url: search_home_index_path, html: { method: :post } do |f| %>
                          <%= f.search_field :property_type_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Property Type' %>
                          <%= f.search_field :time_on_mrkt_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Time on Market' %>
                          <%= f.search_field :construction_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Construction' %>
                          <%= f.search_field :sqft_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Square Feet' %>
                          <%= f.search_field :yr_built_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Year Built' %>
                          <%= f.search_field :bd_rms_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Bedrooms' %>
                          <%= f.search_field :ba_rms_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Bathrooms' %>
                          <%= f.search_field :rooms_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Rooms' %>
                          <%= f.search_field :quick_close_amt_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Quick Close Amount' %>
                          <%= f.search_field :pymt_amt_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Payment Amount' %>
                          <%= f.search_field :interest_rate_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Interest Rate' %>
                          <%= f.search_field :bkd_tx_amt_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Bkd Tax Amount' %>
                          <%= f.submit :class => 'list-group-item btn btn-outline-warning col align-self-center'%>
                          <% end %>
                        </div>
                      </div>
                    </div>  <!-- END panel-collapse -->
                  </div>  <!-- END panel -->
                </div> <!-- END panel-group -->
              </div> <!--END Search-->
              <br>
              <div class="table-responsive">
                <!-- Actual Table -->
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th><%= sort_link(@q2, :owner) %></th>
                      <th><%= sort_link(@q2, :address_id) %></th>
                      <th><%= sort_link(@q2, 'Year Built',:yr_built) %></th>
                      <th><%= sort_link(@q2, 'Bedrooms',:bd_rms) %></th>
                      <th><%= sort_link(@q2, 'Bathrooms',:ba_rms) %></th>
                      <th><%= sort_link(@q2, 'Rooms',:rooms) %></th>
                      <th><%= sort_link(@q2, 'Quick Close Amt',:quick_close_amt) %></th>
                      <th><%= sort_link(@q2, 'Sell by Date',:sell_by_date) %></th>
                      <th colspan="4"></th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% @properties.each do |property| %>
                      <tr align="center" class='href-button' data-id="<%= property_path(property) %>"> <!--contactsModal-->
                        <td role="button" class='href-button' data-id='<%= contact_path(Contact.where(["contact_id = ?", property.owner]).first) %>'>
                          <%= Contact.where(["contact_id = ?", property.owner]).first.last_name %> 
                        </td>
                        <td role="button" class='href-button' data-id='<%= address_path(Address.where(["address_id = ?", property.address_id]).first) %>'>
                          <%= Address.where(["address_id = ?", property.address_id]).first.line_1 %> 
                        </td>
                        <td><%= property.yr_built %></td>
                        <td><%= property.bd_rms %></td>
                        <td><%= property.ba_rms %></td>
                        <td><%= property.rooms %></td>
                        <td><%= property.quick_close_amt %></td>
                        <td><%= property.sell_by_date %></td>
                        <td><a data-id="<%= see_images_path(property.property_id) %>" class='btn btn-info href-button'>Images</a></td>
                        <td><a data-id="<%= see_investors_path(property.property_id) %>" class='btn btn-info href-button'>Matches</a></td>
                        <td><a data-id="<%= edit_property_path(property) %>" class='btn btn-warning href-button'>Edit</a></td>
                        <td class='delete-button'><%= link_to 'Delete', delete_property_path(property), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <a data-id="<%= new_property_path %>" class='btn btn-primary href-button'>New Property</a>
            </div> <!-- End Panel Body -->
          </div> <!-- End Properties Panel -->
        </div> <!-- End Right Side Main -->
      </div><!-- End Row -->
    </div><!-- End Main Container -->
    
    <br>
    
    <footer id="footer">
      <p>CRM Equity Solutions, &copy; 2017</p>
    </footer>
    
    <!-- save these variables for all scripts to use -->
  
    <%= javascript_tag do %>
      var contacts = <%= @contacts.to_json.html_safe %>;
      var properties = <%= @properties.to_json.html_safe %>
    <% end %>
    
    <!-- Script for loading html into hrefModal @author Talha Koc -->
    <script>
      
      /** functions to run on documentIsReady */
      $(document).ready(function(){
        /** 
         * Adds event listener to all elements of class=href-button 
         * 
         * Purpose is to allow any element to load an html file into a modal view.
         * Dependecies:
         *    This can only load one element from an HTML file
         *     and it does this by looking for an element with 
         *     id = "BODY-CONTENT". Without this tag in the outer 
         *     most element, nothing will be loaded into the modal
         *    The element with class=href-button must have a data-id 
         *     set to the html reference
         */
        $('.href-button').on('click', function(e){
          e.stopPropagation();
          var t = e.target;
          console.log(t)
          var href = $(t).data('id')? $(t).data('id') : $(t.parentNode).data('id');
          
          console.log('href=', href)
          $('#hrefModalContent').load(href + ' #BODY_CONTENT', function(){
            console.log('href successfully loaded')
          });
          $('#hrefModal').modal('show');
        });
        /** Once modal view is exited, remove the html node that was loaded into it */
        $('#hrefModal').on('hidden.bs.modal', function (e) {
          console.log('hrefModal hidden');
          var node = $("#hrefModalContent")[0]; //TODO add check
          while (node.hasChildNodes()) {
            node.removeChild(node.lastChild);
          }
        });
        /** This isn't my code and not sure why this is here */
        $('.delete-button').on('click', function(e){
          console.log('delete clicked');
          throw true;
          e.stopPropagation();
        })
        
      });
    
    </script>
    
    <!-- Table Selector Scripts @author Talha Koc-->
    <script>
     
      /**
      * onDocumentReady
      * 
      * Functions to run when the "documentIsReady" function gets called within the browser
      * 
      */ 
      $(document).ready(function(){
        /**
         * Switches to Properties Table 
         * 
         * Shows the element with the propertiesPanel id 
         * and hides the element with the contactsPanel id
         * @constructor
         */
        function switchToProperties(){
          $('#propertiesPanel').collapse('show');
          $('#contactsPanel').collapse('hide');
        }
        /**
         * Switches to Contacts Table 
         * 
         * Does the reverse of the switchToProperties function
         * @constructor
         */
        function switchToContacts(){
          $('#propertiesPanel').collapse('hide');
          $('#contactsPanel').collapse('show');
        }
        /** Adds event listener to the Properties button in the Tables panel */ 
        $('#table-option-properties').on('click', function(e){
          switchToProperties();
        });
        /** Adds event listener to the Contacts button in the Tables panel */
        $('#table-option-contacts').on('click', function(e){
          switchToContacts();
        });
        /** Adds event listener to the Properties Table to switch the header to the Properties Header*/
        $('#propertiesPanel').on('shown.bs.collapse', function(){
          $('#properties-page-header').collapse('show');
          $('#contacts-page-header').collapse('hide');
        });
        /** Adds event listener to the Contacts Table to switch the header to the Contacts Header */
        $('#contactsPanel').on('shown.bs.collapse', function(){
          $('#properties-page-header').collapse('hide');
          $('#contacts-page-header').collapse('show');         
        });
        /** Displays the Contacts Table on load */
        switchToContacts();
        /** Show Simple Search on Contacts Table by default*/
        $('#simpleSearch').collapse('show');
        /** Switches the search bar on the Contacts table to Simple Search*/
        $('#simpleSearch').on('show.bs.collapse', function(){
          $('#advancedSearch').collapse('hide');
        });
        /** Switches the search bar on the Contacts table to Advanced Search*/
         $('#advancedSearch').on('show.bs.collapse', function(){
          $('#simpleSearch').collapse('hide');
        });
        /** Switches the search bar on the Properties table to Simple Search*/
        $('#simplePropertySearch').on('show.bs.collapse', function(){
          $('#advancedPropertySearch').collapse('hide');
        });
        /** Switches the search bar on the Properties table to Advanced Search*/
         $('#advancedPropertySearch').on('show.bs.collapse', function(){
          $('#simplePropertySearch').collapse('hide');
        });

      });
    </script>
    
    <!-- EDITOR SCRIPTS  -->
    <script type="text/javascript">
        function view_text () {
            // Find html elements.
            var textArea = document.getElementById('template_text');
            var div = document.getElementById('view_text');
             
            // Put the text in a variable so we can manipulate it.
            var text = textArea.value;
             
            // Make sure html and php tags are unusable by disabling < and >.
            text = text.replace(/\</gi, "<");
            text = text.replace(/\>/gi, ">");
             
            // Exchange newlines for <br /
            text = text.replace(/\n/gi, "<br />");
             
            // Basic BBCodes.
            text = text.replace(/\[b\]/gi, "<b>");
            text = text.replace(/\[\/b\]/gi, "</b>");
             
            text = text.replace(/\[i\]/gi, "<i>");
            text = text.replace(/\[\/i\]/gi, "</i>");
             
            text = text.replace(/\[u\]/gi, "<u>");
            text = text.replace(/\[\/u\]/gi, "</u>");
            
            text = text.replace(/\[12\]/gi, "<span style ='font-size:12px'>");
            text = text.replace(/\[\/12\]/gi, "</span>");
            
            text = text.replace(/\[24\]/gi, "<span style ='font-size:24px'>");
            text = text.replace(/\[\/24\]/gi, "</span>");
            
            text = text.replace(/\[36\]/gi, "<span style ='font-size:36px'>");
            text = text.replace(/\[\/36\]/gi, "</span>");
            
            text = text.replace(/\[48\]/gi, "<span style ='font-size:48px'>");
            text = text.replace(/\[\/48\]/gi, "</span>");
            
            text = text.replace(/\[center\]/gi, "<div style ='text-align:center;'>");
            text = text.replace(/\[\/center\]/gi, "</div>");
            
            text = text.replace(/\[left\]/gi, "<div style ='text-align:left;'>");
            text = text.replace(/\[\/left\]/gi, "</div>");
            
            text = text.replace(/\[right\]/gi, "<div style ='text-align:right;'>");
            text = text.replace(/\[\/right\]/gi, "</div>");
             
            // Print the text in the div made for it.
            div.innerHTML = text;
        }
        
        function font_size (val1){
            var textArea = document.getElementById('template_text');
            textArea.style.fontSize = val1;
        }
        
        function add_attribute (val1){
            var textArea = document.getElementById('template_text');
            // IE specific code.
            if( -1 != navigator.userAgent.indexOf ("MSIE") ) {
                 
                var range = document.selection.createRange();
                var stored_range = range.duplicate();
                 
                if(stored_range.length > 0) {
                    stored_range.moveToElementText(textArea);
                    stored_range.setEndPoint('EndToEnd', range);
                    textArea.selectionStart = stored_range.text.length - range.text.length;
                    textArea.selectionEnd = textArea.selectionStart + range.text.length;
                }
            }
            // Do we even have a selection?
            if (typeof(textArea.selectionStart) != "undefined") {
                // Split the text in three pieces - the selection, and what comes before and after.
                var begin = textArea.value.substr(0, textArea.selectionStart);
                var selection = textArea.value.substr(textArea.selectionStart, textArea.selectionEnd - textArea.selectionStart);
                var end = textArea.value.substr(textArea.selectionEnd);
                 
                // Insert the tags between the three pieces of text.
                
            
            textArea.value = begin + selection + end + val1;
            }
        }
         
        function mod_selection (val1,val2) {
            // Get the text area
            var textArea = document.getElementById('template_text');
             
            // IE specific code.
            if( -1 != navigator.userAgent.indexOf ("MSIE") ) {
                 
                var range = document.selection.createRange();
                var stored_range = range.duplicate();
                 
                if(stored_range.length > 0) {
                    stored_range.moveToElementText(textArea);
                    stored_range.setEndPoint('EndToEnd', range);
                    textArea.selectionStart = stored_range.text.length - range.text.length;
                    textArea.selectionEnd = textArea.selectionStart + range.text.length;
                }
            }
            // Do we even have a selection?
            if (typeof(textArea.selectionStart) != "undefined") {
                // Split the text in three pieces - the selection, and what comes before and after.
                var begin = textArea.value.substr(0, textArea.selectionStart);
                var selection = textArea.value.substr(textArea.selectionStart, textArea.selectionEnd - textArea.selectionStart);
                var end = textArea.value.substr(textArea.selectionEnd);
                 
                // Insert the tags between the three pieces of text.
                textArea.value = begin + val1 + selection + val2 + end;
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
