<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<%= form_with(model: prop_doc, local: true) do |form| %>
  <% if prop_doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prop_doc.errors.count, "error") %> prohibited this prop_doc from being saved:</h2>

      <ul>
      <% prop_doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.select(:property_id) do %>
      <% Property.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, Address.where(["address_id = ?", c.address_id]).first.line_1 << ', ' << Address.where(["address_id = ?", c.address_id]).first.city << ', ' << Address.where(["address_id = ?", c.address_id]).first.state << ' ' << Address.where(["address_id = ?", c.address_id]).first.zip_code.to_s, value: c.property_id) %>
      <% end %>
    <% end %>
    <%= link_to 'New Property', new_property_path %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :prop_doc_content %>
  </div>

  <div class="field">
    <%= form.label :mime_type %>
    <%= form.text_field :mime_type, id: :prop_doc_mime_type %>
  </div>

  <div class="field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name, id: :prop_doc_file_name %>
  </div>

  <div class="field">
    <%= form.label :file_type %>
    <%= form.text_field :file_type, id: :prop_doc_file_type %>
  </div>

  <div class="field">
    <%= form.label :upload_date %>
    <%= form.datetime_select :upload_date, id: :prop_doc_upload_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
