<p id="notice"><%= notice %></p>

<h1>Prop Docs</h1>

<%= search_form_for @q do |f| %>

  <%= f.label :content_cont %>
  <%= f.search_field :content_cont %>
  
  <%= f.label :mime_type_cont %>
  <%= f.search_field :mime_type_cont %>
  
  <%= f.label :file_name_cont %>
  <%= f.search_field :file_name_cont %>
  
  <%= f.label :file_type_cont %>
  <%= f.search_field :file_type_cont %>
  
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :property_id) %></th>
      <th><%= sort_link(@q, :content) %></th>
      <th><%= sort_link(@q, :mime_type) %></th>
      <th><%= sort_link(@q, :file_name) %></th>
      <th><%= sort_link(@q, :file_type) %></th>
      <th><%= sort_link(@q, :upload_date) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prop_docs.each do |prop_doc| %>
      <tr>
        <td><%= link_to Address.where(["address_id = ?", Property.where(["property_id = ?", prop_doc.property_id]).first.address_id]).first.line_1, Property.where(["property_id = ?", prop_doc.property_id]).first %></td>
        <td><%= prop_doc.content %></td>
        <td><%= prop_doc.mime_type %></td>
        <td><%= prop_doc.file_name %></td>
        <td><%= prop_doc.file_type %></td>
        <td><%= prop_doc.upload_date %></td>
        <td><%= link_to 'Show', prop_doc %></td>
        <td><%= link_to 'Edit', edit_prop_doc_path(prop_doc) %></td>
        <td><%= link_to 'Destroy', prop_doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prop Doc', new_prop_doc_path %>
