<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<%= form_with(model: investor_pref, local: true) do |form| %>
  <% if investor_pref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investor_pref.errors.count, "error") %> prohibited this investor_pref from being saved:</h2>

      <ul>
      <% investor_pref.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact_id %><font color='#ff0000'>*</font>
    <%= form.select(:contact_id) do %>
      <% Contact.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.last_name << ', ' << c.first_name, value: c.contact_id) %>
      <% end %>
    <% end %>
    <%= link_to 'New Contact', new_contact_path %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, id: :investor_pref_zip_code %>
  </div>

  <div class="field">
    <%= form.label :community_id %>
    <%= form.select(:community_id) do %>
      <% Community.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.community_name, value: c.community_id) %>
      <% end %>
      <option value=-1>No Community</option>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :property_type %>
    <%= form.text_field :property_type, id: :investor_pref_property_type %>
  </div>

  <div class="field">
    <%= form.label :bd_rms %>
    <%= form.number_field :bd_rms, id: :investor_pref_bd_rms %>
  </div>

  <div class="field">
    <%= form.label :ba_rms %>
    <%= form.number_field :ba_rms, id: :investor_pref_ba_rms %>
  </div>

  <div class="field">
    <%= form.label :max %>
    <%= form.text_field :max, id: :investor_pref_max %>
  </div>

  <div class="field">
    <%= form.label :min %>
    <%= form.text_field :min, id: :investor_pref_min %>
  </div>

  <div class="field">
    <%= form.label :rehab_ind %>
    <%= form.check_box :rehab_ind, id: :investor_pref_rehab_ind %>
  </div>

  <div class="field">
    <%= form.label :main_st_ind %>
    <%= form.check_box :main_st_ind, id: :investor_pref_main_st_ind %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
