

<div id='BODY_CONTENT'>
  <p id="notice"><%= notice %></p>
  <h1>Investor Prefs</h1>
  <%= search_form_for @q do |f| %>
  
  <h3>Search Database</h3>
  
  <%= f.search_field :zip_code_or_property_type_or_bd_rms_or_ba_rms_or_max_or_min_cont %>

  <%= f.submit %>
<% end %>

<%= search_form_for @q do |f| %>

  <h3>Search By Column</h3>

  <%= f.label :zip_code_cont %>
  <%= f.search_field :zip_code_cont %>
  
  <%= f.label :property_type_cont %>
  <%= f.search_field :property_type_cont %>
  
  <%= f.label :bd_rms_cont %>
  <%= f.search_field :bd_rms_cont %>
  
  <%= f.label :ba_rms_cont %>
  <%= f.search_field :ba_rms_cont %>
  
  <%= f.label :max_cont %>
  <%= f.search_field :max_cont %>
  
  <%= f.label :min_cont %>
  <%= f.search_field :min_cont %>

  <%= f.submit %>
<% end %>
<br>
<br>
<div class="panel panel-default">
  <div class="panel-body" id='table-panel-body'>
    <div class="table-responsive">
      <table class='table table-striped table-hover'>
        <thead>
          <tr>
            <th><%= sort_link(@q, :contact_id) %></th>
            <th><%= sort_link(@q, :zip_code) %></th>
            <th><%= sort_link(@q, :community_id) %></th>
            <th><%= sort_link(@q, :property_type) %></th>
            <th><%= sort_link(@q, :bd_rms) %></th>
            <th><%= sort_link(@q, :ba_rms) %></th>
            <th><%= sort_link(@q, :max) %></th>
            <th><%= sort_link(@q, :min) %></th>
            <th><%= sort_link(@q, :rehab_ind) %></th>
            <th><%= sort_link(@q, :main_st_ind) %></th>
            <th colspan="4"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @investor_prefs.each do |investor_pref| %>
            <tr>
              <td><%= link_to Contact.where(["contact_id = ?", investor_pref.contact_id]).first.last_name, Contact.where(["contact_id = ?", investor_pref.contact_id]).first %></td>
              <td><%= investor_pref.zip_code %></td>
              <% if (investor_pref.community_id != -1) %>
                <td><%= link_to Community.where(["community_id = ?", investor_pref.community_id]).first.community_name, Community.where(["community_id = ?", investor_pref.community_id]).first %></td>
              <% else %>
                <td>No Community</td>
              <% end %>
              <td><%= investor_pref.property_type %></td>
              <td><%= investor_pref.bd_rms %></td>
              <td><%= investor_pref.ba_rms %></td>
              <td><%= investor_pref.max %></td>
              <td><%= investor_pref.min %></td>
              <td><%= investor_pref.rehab_ind %></td>
              <td><%= investor_pref.main_st_ind %></td>
              <td><%= link_to 'Show', investor_pref %></td>
              <td><%= link_to 'See Properties', see_properties_path(investor_pref.investor_pref_id) %></td>
              <td><%= link_to 'Edit', edit_investor_pref_path(investor_pref) %></td>
              <td><%= link_to 'Destroy', investor_pref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<br>


</div>
