<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= link_to Contact.where(["contact_id = ?", @investor_pref.contact_id]).first.last_name, Contact.where(["contact_id = ?", @investor_pref.contact_id]).first %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @investor_pref.zip_code %>
</p>

<p>
  <strong>Community:</strong>
  <% if (@investor_pref.community_id != -1) %>
    <%= link_to Community.where(["community_id = ?", @investor_pref.community_id]).first.community_name, Community.where(["community_id = ?", @investor_pref.community_id]).first %>
  <% else %>
    <%= "No Community" %>
  <% end %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @investor_pref.property_type %>
</p>

<p>
  <strong>Bd rms:</strong>
  <%= @investor_pref.bd_rms %>
</p>

<p>
  <strong>Ba rms:</strong>
  <%= @investor_pref.ba_rms %>
</p>

<p>
  <strong>Max:</strong>
  <%= @investor_pref.max %>
</p>

<p>
  <strong>Min:</strong>
  <%= @investor_pref.min %>
</p>

<p>
  <strong>Rehab ind:</strong>
  <%= @investor_pref.rehab_ind %>
</p>

<p>
  <strong>Main st ind:</strong>
  <%= @investor_pref.main_st_ind %>
</p>

<%= link_to 'Edit', edit_investor_pref_path(@investor_pref) %> |
<%= link_to 'Back', investor_prefs_path %>
