<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<%= search_form_for @q do |f| %>
  
  <h3>Search Database</h3>
  
  <%= f.search_field :first_name_or_middle_name_or_last_name_or_phone_or_email_or_contact_type_cont %>

  <%= f.submit %>
<% end %>

<%= search_form_for @q do |f| %>

  <h3>Search By Column</h3>

  <%= f.label :first_name_cont %>
  <%= f.search_field :first_name_cont %>
  
  <%= f.label :middle_name_cont %>
  <%= f.search_field :middle_name_cont %>
  
  <%= f.label :last_name_cont %>
  <%= f.search_field :last_name_cont %>
  
  <%= f.label :phone_cont %>
  <%= f.search_field :phone_cont %>
  
  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>
  
  <%= f.label :contact_type_cont %>
  <%= f.search_field :contact_type_cont %>
  
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :address_id) %></th>
      <th><%= sort_link(@q, :first_name) %></th>
      <th><%= sort_link(@q, :middle_name) %></th>
      <th><%= sort_link(@q, :last_name) %></th>
      <th><%= sort_link(@q, :phone) %></th>
      <th><%= sort_link(@q, :phone_ext) %></th>
      <th><%= sort_link(@q, :alt_phone) %></th>
      <th><%= sort_link(@q, :alt_ext) %></th>
      <th><%= sort_link(@q, :fax) %></th>
      <th><%= sort_link(@q, :email) %></th>
      <th><%= sort_link(@q, :contact_type) %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to Address.where(["address_id = ?", contact.address_id]).first.line_1, Address.where(["address_id = ?", contact.address_id]).first %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.middle_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.phone_ext %></td>
        <td><%= contact.alt_phone %></td>
        <td><%= contact.alt_ext %></td>
        <td><%= contact.fax %></td>
        <td><%= contact.email %></td>
        <td><%= contact.contact_type %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'See Business Cards', see_business_cards_path(contact.contact_id) %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
