<html>   
  <head>
    <title>CRM Contacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  
  <body>
    <p id="notice"><%= notice %></p>
    
    <!-- HREF Modal -->
    <!-- Takes a reference and loads it -->
    <div id="hrefModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
        
        </div><!-- END Modal content-->
      </div>
    </div> <!-- END HREF Modal -->
    
    <!-- Contact Modal -->
    <!-- Takes contact_id and loads all of 
    it's attributes into a table       -->
    <div id="contactsModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modal Header</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <!-- Contact Table -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Contacts</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr align='center'>
                        <th> Key </th>
                        <th> Value </th>
                      </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                  </table>
                </div>
                  
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
    
    
    <div class="container">
      <div class="page-header">
        <h1>Investors<small> Manage Investors</small></h1>
      </div>
      
      <div class="row">
        
        <!-- Main Left Column -->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
          
          <!-- Table Picker -->
          <div class="list-group"> 
            <div class="list-group-item main-color-bg">
              Tables
            </div>
            
            <a class="list-group-item" href='#'>
              Properties
            </a>
            <a class="list-group-item" href='#'>
              Contacts <span class="badge"><%= @contacts.length %></span>
            </a>   
          </div> <!-- End Table Picker  -->
          
        </div> <!-- End Left Column  -->
      
        <!-- Right Main Column -->
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- Contact Table -->
          <div class="panel panel-default">
            <div class="panel-heading main-color-bg ">
              <div class="panel-title pull-left">Contacts</div>
              <div class="panel-title pull-right">
                <%= link_to "<button type='button' class='btn btn-info' 
                  data-toggle='modal' data-target='#hrefModal'>
                  New <span class='glyphicon glyphicon-print'></span>
                    </button>".html_safe, 
                new_contact_path %>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <!-- Search -->
              <div class='row'>
              <!-- Search Picker -->
                <div class="btn-group btn-group-lg col-xs-4 col-xs-offset-4" role="group" >
                    <button type="button" data-toggle="collapse" href="simpleSearch" class="btn  btn-outline-primary col align-self-center">All</button>
                    <button type="button" data-toggle="collapse" href="advancedSearch" class="btn  btn-outline-primary col align-self-center">Advanced</button>
                </div>
                <br><br>
                <!-- Simple Filter Bar -->
                <div id='simpleSearch' class="collapse col-xs-12">
                    <%= search_form_for @q do |f| %>
                    <%= f.search_field :first_name_or_middle_name_or_last_name_or_phone_or_email_or_contact_type_cont, :class => "form-control", :placeholder => 'Filter...'%>
                    <%= f.submit :class => "btn btn-default col align-self-center"%>
                    <% end %>
                </div>
                <!-- Multiple Filter Bars -->
                <div id='advancedSearch' class='collapse hidden col-xs-12'>
                  <div class="list-group">
            
                    <%= search_form_for @q do |f| %>
     
                    <%= f.search_field :first_name_cont, :class => 'list-group-item form-control no-border', :placeholder => 'First Name'%>    
                    <%= f.search_field :middle_name_cont, :class => 'list-group-item form-control no-border', :placeholder => 'Middle Name' %>
                    <%= f.search_field :last_name_cont, :class => 'list-group-item form-control', :placeholder => 'Last Name' %>
                    <%= f.search_field :phone_cont, :class => 'list-group-item form-control', :placeholder => 'Phone' %>
                    <%= f.search_field :email_cont, :class => 'list-group-item form-control', :placeholder => 'Email' %>
                    <%= f.search_field :contact_type_cont, :class => 'list-group-item form-control', :placeholder => 'Contact Type' %>
                    <%= f.submit :class => 'list-group-item btn btn-default col align-self-center'%>
                    <% end %>
                  </div> 
                </div> <!-- End Multi Search  -->
              </div> <!--END Search-->
              <br>
              <div class="table-responsive">
              <!-- Actual Table -->
              <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th><%= sort_link(@q, :last_name, "Name") %></th>
                  <th><%= sort_link(@q, :address_id) %></th>
                  <th><%= sort_link(@q, :phone) %></th>
                  <th><%= sort_link(@q, :email) %></th>
                  <th><%= sort_link(@q, :contact_type) %></th>
                  <th></th><th></th><th></th>
                </tr>
              </thead>
            
              <tbody>
                <% @contacts.each do |contact| %>
                  <tr align="center" class='contact-entry' data-toggle="modal" data-id="<%= contact.contact_id %>" data-target="#contactsModal"> <!--contactsModal-->
                    <td><%= contact.last_name << ', ' << contact.first_name << ' ' << contact.middle_name[0] %></td>
                    <td><%= link_to Address.where(["address_id = ?", contact.address_id]).first.line_1, Address.where(["address_id = ?", contact.address_id]).first %></td>
                    <td><%= contact.phone %></td>
                    <td><%= contact.email %></td>
                    <td><%= contact.contact_type %></td>
                    <!---<td><%= link_to "<span class='btn btn-default'>Show</span>".html_safe, contact %></td> -->
                    <td><%= link_to "<span class='btn btn-info'>Card</span>".html_safe, see_business_cards_path(contact.contact_id) %></td>
                    <!---<td><%= link_to "<span class='btn btn-warning'>Edit</span>".html_safe, edit_contact_path(contact) %></td>-->
                    <td><a href="<%= edit_contact_path(contact) %>" class='btn btn-warning' data-toggle="modal" data-target="#hrefModal">Edit</a></td>
                    <td><%= link_to "<span class='btn btn-danger'>Delete</span>".html_safe, contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            </div>
            </div> <!-- End Panel Body -->
          </div> <!-- End Panel -->
        </div> <!-- End Right Side Main -->
      
      </div><!-- End Row -->
    
    </div><!-- End Container -->
    
    <br>
      



    <%= javascript_tag do %>
      var contacts = <%= @contacts.to_json.html_safe %>;
      console.log(contacts);
      $(document).on("click", ".contact-entry", function () {
        console.log('inside click call');
        var id = $(this).data('id');
        var table_body = $(".modal-body #tableBody");
        var target = undefined
        for (var i = 0; i < contacts.length; i++){
          if (contacts[i].contact_id == id){
            target = contacts[i]
          }
        }
        
        
        for (var k in target){
          if (target.hasOwnProperty(k)) {
           table_body.append('<tr align="center"><td>' + k + '</td>' +'<td>'+ target[k] +'</td>'+'</tr>')
          }
        }
        
      });
      
      $("#contactsModal").on("hidden.bs.modal", function () {
        console.log('contacts modal is hidden')
        var node = $(".modal-body #tableBody");
        while (node.hasChildNodes()) {
          node.removeChild(node.lastChild);
        }
      });
    <% end %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
