<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= link_to Address.where(["address_id = ?", @contact.address_id]).first.line_1, Address.where(["address_id = ?", @contact.address_id]).first %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @contact.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Phone ext:</strong>
  <%= @contact.phone_ext %>
</p>

<p>
  <strong>Alt phone:</strong>
  <%= @contact.alt_phone %>
</p>

<p>
  <strong>Alt ext:</strong>
  <%= @contact.alt_ext %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @contact.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @contact.contact_type %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'See Business Cards' see_business_cards_path(@contact.contact_id) %> |
<%= link_to 'Back', home_path %>
