<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.number_field :address_id, id: :address_address_id %>
  </div>

  <div class="field">
    <%= form.label :line_1 %>
    <%= form.text_field :line_1, id: :address_line_1 %>
  </div>

  <div class="field">
    <%= form.label :line_2 %>
    <%= form.text_field :line_2, id: :address_line_2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :address_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :address_state %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.number_field :zip_code, id: :address_zip_code %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.text_field :county, id: :address_county %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :address_country %>
  </div>

  <div class="field">
    <%= form.label :community_id %>
    <%= form.select(:community_id) do %>
      <% Community.all.each do |c| -%>
        <%= content_tag(:option, c.community_name, value: c.community_id) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :school_district %>
    <%= form.text_field :school_district, id: :address_school_district %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
