<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<%= search_form_for @q do |f| %>
  
  <h3>Search Database</h3>
  
  <%= f.search_field :line_1_or_line_2_or_city_or_state_or_zip_code_or_county_or_country_or_school_district_cont %>

  <%= f.submit %>
<% end %>

<%= search_form_for @q do |f| %>

  <h3>Search By Column</h3>

  <%= f.label :line_1_cont %>
  <%= f.search_field :line_1_cont %>
  
  <%= f.label :line_2_cont %>
  <%= f.search_field :line_2_cont %>
  
  <%= f.label :city_cont %>
  <%= f.search_field :city_cont %>
  
  <%= f.label :state_cont %>
  <%= f.search_field :state_cont %>
  
  <%= f.label :zip_code_cont %>
  <%= f.search_field :zip_code_cont %>
  
  <%= f.label :county_cont %>
  <%= f.search_field :county_cont %>
  
  <%= f.label :country_cont %>
  <%= f.search_field :country_cont %>
  
  <%= f.label :school_district_cont %>
  <%= f.search_field :school_district_cont %>
  
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :line_1) %></th>
      <th><%= sort_link(@q, :line_2) %></th>
      <th><%= sort_link(@q, :city) %></th>
      <th><%= sort_link(@q, :state) %></th>
      <th><%= sort_link(@q, :zip_code) %></th>
      <th><%= sort_link(@q, :county) %></th>
      <th><%= sort_link(@q, :country) %></th>
      <th><%= sort_link(@q, :community_id) %></th>
      <th><%= sort_link(@q, :school_district) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.line_1 %></td>
        <td><%= address.line_2 %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.zip_code %></td>
        <td><%= address.county %></td>
        <td><%= address.country %></td>
        <td><%= link_to Community.where(["community_id = ?", address.community_id]).first.community_name, Community.where(["community_id = ?", address.community_id]).first %></td>
        <td><%= address.school_district %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
