<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @address.address_id %>
</p>

<p>
  <strong>Line 1:</strong>
  <%= @address.line_1 %>
</p>

<p>
  <strong>Line 2:</strong>
  <%= @address.line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>County:</strong>
  <%= @address.county %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Community:</strong>
  <%= @address.community_id %>
</p>

<p>
  <strong>School district:</strong>
  <%= @address.school_district %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
