<div id='BODY_CONTENT'>

<p id="notice"><%= notice %></p>
<h1>Address</h1>
<br>
<p>
  <strong>Line 1:</strong>
  <%= @address.line_1 %>
</p>

<p>
  <strong>Line 2:</strong>
  <%= @address.line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>County:</strong>
  <%= @address.county %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Community:</strong>
  <% if (@address.community_id != -1) %>
    <%= link_to Community.where(["community_id = ?", @address.community_id]).first.community_name, Community.where(["community_id = ?", @address.community_id]).first %>
  <% else %>
    <%= "No Community" %>
  <% end %>
</p>

<p>
  <strong>School district:</strong>
  <%= @address.school_district %>
</p>

</div>
