<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_id %><font color='#ff0000'>*</font>
    <%= form.select(:property_id) do %>
      <% Property.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, Address.where(["address_id = ?", c.address_id]).first.line_1 << ', ' << Address.where(["address_id = ?", c.address_id]).first.city << ', ' << Address.where(["address_id = ?", c.address_id]).first.state << ' ' << Address.where(["address_id = ?", c.address_id]).first.zip_code.to_s, value: c.property_id) %>
      <% end %>
    <% end %>
    <%= link_to 'New Property', new_property_path %>
  </div>

  <div class="field">
    <%= form.label :room_type %>
    <%= form.text_field :room_type, id: :room_room_type %>
  </div>

  <div class="field">
    <%= form.label :sqft %>
    <%= form.text_field :sqft, id: :room_sqft %>
  </div>

  <div class="field">
    <%= form.label :windows %>
    <%= form.number_field :windows, id: :room_windows %>
  </div>

  <div class="field">
    <%= form.label :closets %>
    <%= form.number_field :closets, id: :room_closets %>
  </div>
  
  <div class="field">
    <%= form.label :outlets %>
    <%= form.number_field :outlets, id: :room_outlets %>
  </div>
  
  <div class="field">
    <%= form.label :wall_type %>
    <%= form.text_field :wall_type, id: :room_wall_type %>
  </div>
  
  <div class="field">
    <%= form.label :flooring_type %>
    <%= form.text_field :flooring_type, id: :room_flooring_type %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :room_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
