<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<p id="notice"><%= notice %></p>

<p>
  <strong>User email:</strong>
  <%= @zillow_pref.user_email %>
</p>

<p>
  <strong>Links:</strong>
  <%= @zillow_pref.links %>
</p>

<p>
  <strong>Last sold date:</strong>
  <%= @zillow_pref.last_sold_date %>
</p>

<p>
  <strong>Last sold price:</strong>
  <%= @zillow_pref.last_sold_price %>
</p>

<p>
  <strong>Tax assessment:</strong>
  <%= @zillow_pref.tax_assessment %>
</p>

<p>
  <strong>Tax assessment year:</strong>
  <%= @zillow_pref.tax_assessment_year %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @zillow_pref.year_built %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @zillow_pref.bathrooms %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @zillow_pref.bedrooms %>
</p>

<p>
  <strong>Finished square feet:</strong>
  <%= @zillow_pref.finished_square_feet %>
</p>

<p>
  <strong>Lot size square feet:</strong>
  <%= @zillow_pref.lot_size_square_feet %>
</p>

<p>
  <strong>Total rooms:</strong>
  <%= @zillow_pref.total_rooms %>
</p>

<p>
  <strong>Use code:</strong>
  <%= @zillow_pref.use_code %>
</p>

<p>
  <strong>Change:</strong>
  <%= @zillow_pref.change %>
</p>

<p>
  <strong>Change duration:</strong>
  <%= @zillow_pref.change_duration %>
</p>

<p>
  <strong>Last updated:</strong>
  <%= @zillow_pref.last_updated %>
</p>

<p>
  <strong>Local real estate:</strong>
  <%= @zillow_pref.local_real_estate %>
</p>

<p>
  <strong>Percentile:</strong>
  <%= @zillow_pref.percentile %>
</p>

<p>
  <strong>Price:</strong>
  <%= @zillow_pref.price %>
</p>

<p>
  <strong>Region:</strong>
  <%= @zillow_pref.region %>
</p>

<p>
  <strong>Region type:</strong>
  <%= @zillow_pref.region_type %>
</p>

<p>
  <strong>Rent zestimate:</strong>
  <%= @zillow_pref.rent_zestimate %>
</p>

<p>
  <strong>Valuation range:</strong>
  <%= @zillow_pref.valuation_range %>
</p>

<%= link_to 'Edit', edit_zillow_pref_path(@zillow_pref) %> |
<%= link_to 'Back', zillow_prefs_path %>
