<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= link_to Address.where(["address_id = ?", Property.where(["property_id = ?", @rental_unit.property_id]).first.address_id]).first.line_1, Property.where(["property_id = ?", @rental_unit.property_id]).first %>
</p>

<p>
  <strong>Bd rms:</strong>
  <%= @rental_unit.bd_rms %>
</p>

<p>
  <strong>Ba rms:</strong>
  <%= @rental_unit.ba_rms %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @rental_unit.rent %>
</p>

<p>
  <strong>Occupied ind:</strong>
  <%= @rental_unit.occupied_ind %>
</p>

<p>
  <strong>Pay heat ind:</strong>
  <%= @rental_unit.pay_heat_ind %>
</p>

<p>
  <strong>Pay wtr ind:</strong>
  <%= @rental_unit.pay_wtr_ind %>
</p>

<p>
  <strong>Pay gas ind:</strong>
  <%= @rental_unit.pay_gas_ind %>
</p>

<p>
  <strong>Pay elec ind:</strong>
  <%= @rental_unit.pay_elec_ind %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= link_to Contact.where(["contact_id = ?", @rental_unit.tenant]).first.last_name, Contact.where(["contact_id = ?", @rental_unit.tenant]).first %>
</p>

<%= link_to 'Edit', edit_rental_unit_path(@rental_unit) %> |
<%= link_to 'Back', rental_units_path %>
