<p id="notice"><%= notice %></p>

<h1>Rental Units</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to "Property", update_rental_unit_order_path(:property_id) %></th>
      <th><%= link_to "Bedrooms", update_rental_unit_order_path(:bd_rms) %></th>
      <th><%= link_to "Bathrooms", update_rental_unit_order_path(:ba_rms) %></th>
      <th><%= link_to "Rent", update_rental_unit_order_path(:rent) %></th>
      <th><%= link_to "Occupied", update_rental_unit_order_path(:occupied_ind) %></th>
      <th><%= link_to "Pay for Heat", update_rental_unit_order_path(:pay_heat_ind) %></th>
      <th><%= link_to "Pay for Water", update_rental_unit_order_path(:pay_wtr_ind) %></th>
      <th><%= link_to "Pay for Gas", update_rental_unit_order_path(:pay_gas_ind) %></th>
      <th><%= link_to "Pay for Electricity", update_rental_unit_order_path(:pay_elec_ind) %></th>
      <th><%= link_to "Tenant", update_rental_unit_order_path(:tenant) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_units.each do |rental_unit| %>
      <tr>
        <td><%= link_to Address.where(["address_id = ?", Property.where(["property_id = ?", rental_unit.property_id]).first.address_id]).first.line_1, Property.where(["property_id = ?", rental_unit.property_id]).first %></td>
        <td><%= rental_unit.bd_rms %></td>
        <td><%= rental_unit.ba_rms %></td>
        <td><%= rental_unit.rent %></td>
        <td><%= rental_unit.occupied_ind %></td>
        <td><%= rental_unit.pay_heat_ind %></td>
        <td><%= rental_unit.pay_wtr_ind %></td>
        <td><%= rental_unit.pay_gas_ind %></td>
        <td><%= rental_unit.pay_elec_ind %></td>
        <td><%= link_to Contact.where(["contact_id = ?", rental_unit.tenant]).first.last_name, Contact.where(["contact_id = ?", rental_unit.tenant]).first %></td>
        <td><%= link_to 'Show', rental_unit %></td>
        <td><%= link_to 'Edit', edit_rental_unit_path(rental_unit) %></td>
        <td><%= link_to 'Destroy', rental_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental Unit', new_rental_unit_path %>
