<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purchased_by %><font color='#ff0000'>*</font>
    <%= form.select(:purchased_by) do %>
      <% Contact.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, c.last_name << ', ' << c.first_name, value: c.contact_id) %>
      <% end %>
    <% end %>
    <%= link_to 'New Contact', new_contact_path %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :transaction_date %>
  </div>

  <div class="field">
    <%= form.label :property_id %><font color='#ff0000'>*</font>
    <%= form.select(:property_id) do %>
      <% Property.where(["user_email = ?", current_user.email]).each do |c| -%>
        <%= content_tag(:option, Address.where(["address_id = ?", c.address_id]).first.line_1 << ', ' << Address.where(["address_id = ?", c.address_id]).first.city << ', ' << Address.where(["address_id = ?", c.address_id]).first.state << ' ' << Address.where(["address_id = ?", c.address_id]).first.zip_code.to_s, value: c.property_id) %>
      <% end %>
    <% end %>
    <%= link_to 'New Address', new_address_path %>
  </div>

  <div class="field">
    <%= form.label :price %><font color='#ff0000'>*</font>
    <%= form.text_field :price, id: :transaction_price %>
  </div>

  <div class="field">
    <%= form.label :transaction_type %>
    <%= form.text_field :transaction_type, id: :transaction_transaction_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
