<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.number_field :transaction_id, id: :transaction_transaction_id %>
  </div>

  <div class="field">
    <%= form.label :purchased_by %>
    <%= form.number_field :purchased_by, id: :transaction_purchased_by %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :transaction_date %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.number_field :property_id, id: :transaction_property_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :transaction_price %>
  </div>

  <div class="field">
    <%= form.label :transaction_type %>
    <%= form.text_field :transaction_type, id: :transaction_transaction_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
