<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<%= search_form_for @q do |f| %>
  
  <h3>Search Database</h3>
  
  <%= f.search_field :price_or_transaction_type_cont %>

  <%= f.submit %>
<% end %>

<%= search_form_for @q do |f| %>

  <h3>Search By Column</h3>
  
  <%= f.label :price_cont %>
  <%= f.search_field :price_cont %>
  
  <%= f.label :transaction_type_cont %>
  <%= f.search_field :transaction_type_cont %>
  
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :purchased_by) %></th>
      <th><%= sort_link(@q, :date) %></th>
      <th><%= sort_link(@q, :property_id) %></th>
      <th><%= sort_link(@q, :price) %></th>
      <th><%= sort_link(@q, :transaction_type) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to Contact.where(["contact_id = ?", transaction.purchased_by]).first.last_name, Contact.where(["contact_id = ?", transaction.purchased_by]).first %></td>
        <td><%= transaction.date %></td>
        <td><%= link_to Address.where(["address_id = ?", Property.where(["property_id = ?", transaction.property_id]).first.address_id]).first.line_1, Property.where(["property_id = ?", transaction.property_id]).first %></td>
        <td><%= transaction.price %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
