<p id="notice"><%= notice %></p>

<p>
  <strong>Purchased by:</strong>
  <%= link_to Contact.where(["contact_id = ?", @transaction.purchased_by]).first.last_name, Contact.where(["contact_id = ?", @transaction.purchased_by]).first %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Property:</strong>
  <%= link_to Address.where(["address_id = ?", Property.where(["property_id = ?", @transaction.property_id]).first.address_id]).first.line_1, Property.where(["property_id = ?", @transaction.property_id]).first %>
</p>

<p>
  <strong>Price:</strong>
  <%= @transaction.price %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
