<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<%= form_with(model: community, local: true) do |form| %>
  <% if community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(community.errors.count, "error") %> prohibited this community from being saved:</h2>

      <ul>
      <% community.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :community_name %><font color='#ff0000'>*</font>
    <%= form.text_field :community_name, id: :community_community_name %>
  </div>

  <div class="field">
    <%= form.label :zip_code %><font color='#ff0000'>*</font>
    <%= form.text_field :zip_code, id: :community_zip_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
