<p id="notice"><%= notice %></p>

<h1>Communities</h1>

<table>
  <thead>
    <tr>
      <th>Community</th>
      <th>Community name</th>
      <th>Zip code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= community.community_id %></td>
        <td><%= community.community_name %></td>
        <td><%= community.zip_code %></td>
        <td><%= link_to 'Show', community %></td>
        <td><%= link_to 'Edit', edit_community_path(community) %></td>
        <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community', new_community_path %>
