<p id="notice"><%= notice %></p>

<h1>Communities</h1>

<%= search_form_for @q do |f| %>
  
  <h3>Search Database</h3>
  
  <%= f.search_field :community_name_or_zip_code_cont %>

  <%= f.submit %>
<% end %>

<%= search_form_for @q do |f| %>

  <h3>Search By Column</h3>

  <%= f.label :community_name_cont %>
  <%= f.search_field :community_name_cont %>
  
  <%= f.label :zip_code_cont %>
  <%= f.search_field :zip_code_cont %>

  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :community_name) %></th>
      <th><%= sort_link(@q, :zip_code) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= community.community_name %></td>
        <td><%= community.zip_code %></td>
        <td><%= link_to 'Show', community %></td>
        <td><%= link_to 'Edit', edit_community_path(community) %></td>
        <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community', new_community_path %>
