<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<!DOCTYPE html>
<html>
    <head>
      <title>CRM Equity</title>
      <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/lcXTsUr.png" />
      <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= javascript_include_tag :application %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
          
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>